.drum-machine {
  display: grid;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.drum-machine-container {
  outline: 5px solid orange;
  position: relative;
  width: 660px;
  text-align: center;
  background-color: #775656;
}

.drumContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.display {
  color: white;
  font-weight: 800;
  padding: 15px 0;
  font-size: 2rem;
}

.drum-pad {
  background-color: grey;
  margin-top: 10px;
  box-shadow: black 3px 3px 5px;
  width: 100px;
  margin: auto;
  padding: 10px;
}